<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="TenantId" value="7c701c95-cc13-4c78-8740-693282e8fa67" />
    <add key="ClientId" value="f72304eb-6375-48e7-9570-81434a9c7931" />
    <add key="SecretId" value="V2eQBc4dJpX3Cl~rK-~2D_HDOcR4Yxt-9f" />
  </appSettings>
</configuration>